<div class="row">
    {% for property in properties %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if property.picture %}
                    <img src="/images/properties/{{ property.picture }}" alt="{{ property.title }}" class="img-fluid">
                <img src="{{ vich_uploader_asset(property.picture, 'imageFile')|imagine_filter('property_img') }}" alt="{{ property.title }}" class="">
                {% else %}
                    <img src="{{ asset('images/img-property.jpg')|imagine_filter('property_img') }}" alt="{{ property.title }}" class="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ path('PROPERTY', {slug: property.slug, id: property.id}) }}" title="{{ property.title }}">{{ property.title }}</a></h5>
                    <p class="card-text">{{ property.surface }} m² - {{ property.city }} {{ property.postalCode }}</p>
                    <p class="text-primary fw-bold fs-1 mb-0">
                        {{ property.formattedPrice }} €</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
