{% extends 'base-admin.html.twig' %}

{% block title %} - {{ property.title }}{% endblock %}

{% block body %}

    <div class="container">
        <section class="my-5">

            <h1>{{ property.title }}</h1>

            <hr class="my-4">

            <p class="my-4"><a href="{{ path('ADMIN_PROPERTY_INDEX') }}" class="btn btn-primary btn-sm">Retour à la liste</a></p>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ property.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ property.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ property.description }}</td>
                </tr>
                <tr>
                    <th>Surface</th>
                    <td>{{ property.surface }} m²</td>
                </tr>
                <tr>
                    <th>Pièces</th>
                    <td>{{ property.rooms }}</td>
                </tr>
                <tr>
                    <th>Chambres</th>
                    <td>{{ property.bedrooms }}</td>
                </tr>
                <tr>
                    <th>Étages</th>
                    <td>{{ property.floor }} </td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ property.formattedPrice }}</td>
                </tr>
                <tr>
                    <th>Chauffage</th>
                    <td>{{ property.heat }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ property.address }}, {{ property.postalCode }} {{ property.city }}</td>
                </tr>
                <tr>
                    <th>Vendu</th>
                    <td>{{ property.sold ? 'OUI' : 'NON' }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ property.createdAt ? property.createdAt|date('d-m-Y') }}</td>
                </tr>
                </tbody>
            </table>

            <p><a href="{{ path('ADMIN_PROPERTY_EDIT', {'id': property.id}) }}" class="btn btn-primary btn-sm">Modifier</a></p>

            {{ include('admin/property/_delete_form.html.twig') }}
        </section>
    </div>

{% endblock %}
