{% extends 'base-admin.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}

    <div class="container">
        <section class="my-5">

            <h1>Tableau de bord</h1>

            <hr class="my-4">

            <p class="my-4"><a href="{{ path('ADMIN_PROPERTY_NEW') }}" class="btn btn-primary btn-sm">Créer un nouveau bien</a></p>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Surface</th>
                    <th>Pièces</th>
                    <th>Chambres</th>
                    <th>Étages</th>
                    <th>Prix</th>
                    <th>Chauffage</th>
                    <th>Adresse</th>
                    <th>Vendu</th>
                    <th>Ajouté le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                    <tr>
                        <td>{{ property.title }}</td>
                        <td>{{ property.description }}</td>
                        <td>{{ property.surface }} m²</td>
                        <td>{{ property.rooms }}</td>
                        <td>{{ property.bedrooms }}</td>
                        <td>{{ property.floor }}</td>
                        <td>{{ property.formattedPrice }}</td>
                        <td>{{ property.heat }}</td>
                        <td>
                            {{ property.address }}<br>
                            {{ property.postalCode }} {{ property.city }}
                        </td>
                        <td>
                            {{ property.sold ? 'OUI' : 'NON' }}
                        </td>
                        <td>{{ property.createdAt ? property.createdAt|date('d-m-Y') }}</td>
                        <td>
                            <a href="{{ path('ADMIN_PROPERTY_SHOW', {'id': property.id}) }}" class="btn btn-primary btn-sm">Voir</a><br>
                            <a href="{{ path('ADMIN_PROPERTY_EDIT', {'id': property.id}) }}" class="btn btn-primary btn-sm my-1">Modifier</a><br>
                            <a href="{{ path('ADMIN_PROPERTY_DELETE', {'id': property.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="15">Aucun bien enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>
    </div>

{% endblock %}
