{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container">
        <section class="my-5">
            <h1>Agence Immobilière</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dicta quisquam tempora? Consequuntur cum, cumque deserunt eveniet expedita fuga harum iusto maiores molestiae obcaecati quo sit velit vitae voluptas voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dicta quisquam tempora? Consequuntur cum, cumque deserunt eveniet expedita fuga harum iusto maiores molestiae obcaecati quo sit velit vitae voluptas voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dicta quisquam tempora? Consequuntur cum, cumque deserunt eveniet expedita fuga harum iusto maiores molestiae obcaecati quo sit velit vitae voluptas voluptates!</p>
        </section>
        <section class="my-5">
            <h2 class="mb-3">Les dernières propriétés</h2>
            <div class="row d-flex">
                {% for property in properties %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-4">
                                    <a href="{{ path('PROPERTY_SHOW', {slug: property.slug, id: property.id}) }}" title="{{ property.title }}">{{ property.title }}</a>
                                </h5>
                                <p class="card-text">{{ property.city }} {{ property.postalCode }}</p>
                                <p class="text-primary fw-bold fs-1 mb-0">{{ property.formattedPrice }} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}
