{% extends 'base.html.twig' %}

{% block title %} - Acheter{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Acheter</h1>
        <div class="my-5">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.specifications) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Par adresse" id="search_address" class="form-control">
                    </div>
                </div>
                <div class="col">
                    {{ form_row(form.distance) }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-small">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="my-5">
            {{ include('default/includes/cards-properties.html.twig') }}
            <div class="pagination">
                {{ knp_pagination_render(properties) }}
            </div>
        </div>
    </div>

{% endblock %}
