{% extends 'base.html.twig' %}

{% block title %} - {{ property.title }}{% endblock %}

{% block body %}

    <div class="container">
        <section class="my-5">
            <div class="row">
                <div class="col-md-8">
                    {% if property.pictures %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile')|imagine_filter('property_img_medium') }}" alt="{{ property.title }}" class="">
                    {% else %}
                        <img src="{{ asset('images/img-property.jpg')|imagine_filter('property_img_medium') }}" alt="{{ property.title }}" class="">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <p>{{ property.description }}</p>
                    <p class="text-primary fw-bold fs-1 mb-0">{{ property.formattedPrice }} €</p>
                    <a href="{{ path('CONTACT') }}" class="btn btn-primary btn-sm">Contacter l'agence</a>
                </div>
            </div>
        </section>
        <section class="my-5">
            <div class="row">
                <div class="col-md-8">
                    <h2>Caractéristiques</h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Titre</td>
                            <td>{{ property.title }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ property.description }}</td>
                        </tr>
                        <tr>
                            <td>Surface</td>
                            <td>{{ property.surface }} m²</td>
                        </tr>
                        <tr>
                            <td>Pièces</td>
                            <td>{{ property.rooms }}</td>
                        </tr>
                        <tr>
                            <td>Chambres</td>
                            <td>{{ property.bedrooms }}</td>
                        </tr>
                        <tr>
                            <td>Étage(s)</td>
                            <td>{{ property.floor }}</td>
                        </tr>
                        <tr>
                            <td>Prix</td>
                            <td>{{ property.price }}</td>
                        </tr>
                        <tr>
                            <td>Chauffage</td>
                            <td>{{ property.heat }}</td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td>{{ property.address }}, {{ property.postalCode }} {{ property.city }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <h2>Spécificités</h2>
                    <ul class="list-group">
                        {% for specification in property.specifications %}
                            <li class="list-group-item">{{ specification.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
